In [1]:
# importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# reading the dataset
df=pd.read_csv("startup_dataset.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [4]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [7]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [10]:
x= df.drop(['Profit'], axis = 1)
y = df['Profit'].values.reshape(-1,1)

# splitting our dataset into training and testing

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# training and setting our model

In [12]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [14]:
y_pred = reg.predict(x_test)
y_pred

array([[126703.02716461],
       [ 84894.75081556],
       [ 98893.41815974],
       [ 46501.70815036],
       [129128.39734381],
       [ 50992.69486261],
       [109016.5536578 ],
       [100878.4641454 ],
       [ 97700.59638629],
       [113106.15292226]])

In [18]:
intercept=reg.intercept_
intercept

array([54071.87574599])

In [19]:
from sklearn import metrics
print("mean squared error: ",metrics.mean_squared_error(y_test,y_pred))
print("mean Absolute error: ",metrics.mean_absolute_error(y_test,y_pred))
print("R2 score: ",metrics.r2_score(y_test,y_pred))

mean squared error:  80926321.22295162
mean Absolute error:  6979.1522523704
R2 score:  0.900065308303732

In [21]:
print("Enter the amount you have spend on:")
RDSpend = float(input("R and D Spend : "))
Administration = float(input("Adminisration : "))
MarketingSpend = float(input("Marketing Spend : "))

output = reg.predict([[RDSpend, Administration, MarketingSpend]])
print(" Rs {} Profit by spending Rs {} on R & D , Rs {} on Adminisration and Rs {} on Marketing"\
      .format(output[0][0] ,RDSpend, Administration, MarketingSpend))

Enter the amount you have spend on:
R and D Spend : 165349.20
Adminisration : 136897.80
Marketing Spend : 471784.10
 Rs 192416.04608529794 Profit by spending Rs 165349.2 on R & D , Rs 136897.8 on Adminisration and Rs 471784.1 on Marketing.